<nav id="footer-nav" class="nav footer-nav">

<ul class="footer-nav__list">
	<li><a href="{{ url }}">Templates gallery</a></li>
		<li><a href="{{ url }}">Create checklist</a></li>
</ul>
	<ul class="footer-nav__list">
		<li><a href="{{ url }}">Terms of use</a></li>
		<li><a href="{{ url }}">Privacy</a></li>
		<li><a href="{{ url }}">Cookies</a></li>
	</ul>
</nav><!--end .nav-->
